*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.text-white{
    color: #fff!important;
}
.clear{
    clear: both;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.col-third{
    width: 33.333%;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.btn{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 11px 16px;
    margin-top: 15px;
    display: inline-block;
    border: none;
}
.btn:hover{
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}
.pull-right{
    float: right!important;
}
#main{

}

#header{
    background-color: #000;
    height: 46.5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    }
#header .search-btn{
    float: right;
    color: white;
    line-height: 46.5px;
    width: 61px;
    text-align: center;
}
#header .search-btn:hover{
    background-color: red;
}

#nav{
  display: inline-block;
}
#nav>li>a{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    display: block;
    line-height: 46.5px;
    padding: 0 24px;  
   
}
#nav, .subbar{
    list-style-type: none;
}
#nav>li{
    display: inline-block;
}
#nav li{
    
    position: relative; 
}
#nav .subbar li:hover a,
#nav >li:hover >a{
    background-color: rgb(141, 141, 141);  
    color: black;
}
#nav li:hover .subbar{
    display: block;
}
#nav .subbar{
    display: none;
    position: absolute;
    background-color: white;
    top: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#nav .subbar a{
   color: black;
   line-height: 38px;
   padding: 0px 15px;
}
#nav .nav-down{
    color: rgb(255, 242, 240);
    height: 15px;
    width: 5px;
    
}
#slider{
    position: relative;
    padding-top: 50%;
  margin-top: 46.5px;
  
  background: url('/The-band/assets/Img/Slider1.jpg') top center / cover no-repeat  ;
}
#slider .text-content{
    position: absolute;
    color: #fff;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#slider .text-heading{
    font-size: 24px;
    font-weight: 600px;
    margin: 10px;
}

/* #content{
   
} */
#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}
#content .section-heading{
    text-align: center;
    letter-spacing: 3px;
    font-size: 30px;
}
#content .section-subheading{
    text-align: center;
    margin-top: 15px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text{
    margin-top: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-list{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    
}
#content .member-item{
   padding: 10px;
   text-align: center;
}
#content .member-img{
    margin-top: 15px;
    border-radius: 5px;
}

/* Tour section */

.tour-section{
    width: 100%;
    background-color: #000;
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
}
.tickets-list li{
    padding: 11px 16px;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    color: #757575;
    list-style-type: none;
}
.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity{
    float: right;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
}

/* place */


.places-list{
   margin-top: 32px;
    margin-bottom:48px;
}

.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 20px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-discription{
    margin-top: 15px;
    line-height: 1.4;
}

/* map section */
.map-section img{
    width: 100%;
}



/* contact */
.contact-section{
    margin-bottom: 200px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.4;
}
.contact-info i[class*="fa-"]{
    width: 30px;
    display: inline-block;
}
.contact-form
{
    font-size: 15px;
}

.contact-form .form-control
{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .footer-special-list{
    font-size: 24px;
}
#footer .footer-special-list a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.6)
}
#footer .footer-special-list a:hover{
    color:rgba(0, 0, 0, 0.4)
}
#footer .footer-content{
    margin-top: 10px;
    color:rgba(0, 0, 0, 0.5)
}
#footer .footer-content a{
    margin-top: 10px;
    color:rgba(0, 0, 0, 0.5)
}
/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open{
    display: flex;
}
.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-1000px);
    min-height: 200px;
    position: relative;
    animation: modalFadein ease 0.8s;
   
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font: 16px;
    padding: 16px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close:hover{
  opacity: 1;
  background-color: #ccc;
  color: #000;
}
.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-heading-ticket{
    letter-spacing: 4px;
    margin-left: 10px;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
   margin-bottom: 24px;
}
#buy-tickets{
    background-color: #009688;
    width: 100%;
    border-radius: 1px solid #ccc;
    border: #ccc;
    padding: 16px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}
#buy-tickets:hover{
    opacity: 0.8;
}
.modal-footer{
    float: right;
    padding: 16px;
    
}
.modal-help a{
  color: #2196F3;  
}

@keyframes modalFadein {
    from{
        transform: translateY(-150px);
    }
    to{
        transform: translateY(0);
    }
}